<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <h2>Acceda al módulo <br>de cuestionarios</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar sesión</button>
    </form>
    {% if form.errors %}
        <p>El usuario o la contraseña son incorrectas. Revisar e intentar de nuevo</p>
    {% endif %}
</body>
</html>